.login-wrapper {
    width: 100%;
    height: 100vh;
    background: center / cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-link img {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    filter: invert();
}
