@font-face {
  font-family: 'belwe';
  src: local('belwe'), url(./fonts/belwe.otf) format('opentype');
}

body {
  margin: 0;
  font-family: belwe, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
